.hero-detail {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.hero-detail h2 span {
    color: #DD3333;
}

.fields {
    margin: 10px 0px;
}

.levelInput {
    width: 3em;
}

button.goback {
    display: flex;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EEEEEE;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;        
    margin-top: 1em;
}

button.goback:hover {
    background-color: #CFD8DC;
    font-weight: 700;
}